In [26]:
import pandas as pd

In [5]:
df=pd.read_csv('pandas_docs/survey_results_public.csv')
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

### - SAARC members does exist in this data

In [10]:
saarc=['India', 'Pakistan', 'Sri Lanka', 'Nepal', 'Maldives', 'Afghanistan', 'Bangladesh', 'Bhutan']
df[df['Country'].isin(saarc)]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
33,34,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Sri Lanka,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers,17.0,Man,NaN,Bisexual,South Asian,Yes,Too short,Neither easy nor difficult
41,42,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,30.0,Man,No,Straight / Heterosexual,Middle Eastern,NaN,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88834,81624,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Retired,Bangladesh,"Yes, full-time","Professional degree (JD, MD, etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,Tech articles written by other developers,NaN,"Non-binary, genderqueer, or gender non-conforming",Yes,NaN,NaN,Yes,Appropriate in length,Easy
88852,83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88853,84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy
88875,88182,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult

### - Does OPEC countries exist find their respective converted compensation and their country

In [22]:
opec=['Qatar','Indonesia','Libya','The United Arab Emirates','Algeria','Nigeria','Ecuador','Gabon','Angola','Equatorial Guinea','Congo']

In [32]:
filter=df['Country'].isin(opec)

In [35]:
df.loc[filter,['ConvertedComp','Country']]

       ConvertedComp    Country
203           2664.0    Nigeria
340          36000.0    Ecuador
346              NaN    Nigeria
363              NaN    Nigeria
685           1668.0    Nigeria
882           2770.0    Nigeria
909           1332.0    Nigeria
946          18000.0    Ecuador
1011         53184.0    Nigeria
1098             NaN    Algeria
1147         27956.0  Indonesia
1164             NaN  Indonesia
1243             NaN  Indonesia
1346             NaN    Nigeria
1347         32256.0  Indonesia
1353             NaN  Indonesia
1370       1000000.0  Indonesia
1382             NaN  Indonesia
1417             NaN  Indonesia
1432           432.0  Indonesia
1536          9144.0    Algeria
1638             NaN    Nigeria
1646          1332.0    Nigeria
1733             NaN    Nigeria
1758         16487.0  Indonesia
1769          8316.0    Nigeria
1945             NaN    Ecuador
1996             NaN    Nigeria
2076             NaN    Nigeria
2102             NaN    Nigeria
...              ...        ...
87321         7560.0    Ecuador
87472        13764.0  Indonesia
87527            NaN    Nigeria
87543         2580.0  Indonesia
87597            NaN  Indonesia
87627         1668.0    Nigeria
87640            NaN    Algeria
87699            NaN    Nigeria
87801            NaN    Nigeria
87867            NaN    Nigeria
87882            NaN    Ecuador
87923        21884.0    Nigeria
87957            NaN    Nigeria
87967            NaN  Indonesia
88092        17208.0  Indonesia
88111         1200.0  Indonesia
88261        16620.0    Nigeria
88269            NaN    Nigeria
88342            NaN  Indonesia
88363            NaN    Ecuador
88399            NaN    Algeria
88401            NaN    Algeria
88534            NaN    Algeria
88611            NaN  Indonesia
88620            NaN  Indonesia
88665            NaN    Algeria
88698            NaN    Algeria
88807            NaN    Nigeria
88823            NaN    Nigeria
88867            NaN    Nigeria

[1265 rows x 2 columns]

### - if education levels is masters then find their undergrad major

In [42]:
filte=df['LanguageWorkedWith'].str.contains('Master',na=False)

In [47]:
df.loc[filte,'LanguageWorkedWith']#incomlpete

Series([], Name: LanguageWorkedWith, dtype: object)

### - if working location is home find their sexuality

In [46]:
filter1=df['WorkLoc'].isin(['Home'])

In [48]:
df.loc[filter1,['WorkLoc','Sexuality']]

      WorkLoc                Sexuality
2        Home  Straight / Heterosexual
3        Home  Straight / Heterosexual
5        Home  Straight / Heterosexual
9        Home                      NaN
12       Home  Straight / Heterosexual
15       Home  Straight / Heterosexual
21       Home  Straight / Heterosexual
24       Home  Straight / Heterosexual
25       Home           Gay or Lesbian
27       Home                      NaN
31       Home  Straight / Heterosexual
34       Home  Straight / Heterosexual
40       Home                      NaN
42       Home  Straight / Heterosexual
43       Home  Straight / Heterosexual
53       Home  Straight / Heterosexual
55       Home  Straight / Heterosexual
57       Home  Straight / Heterosexual
60       Home  Straight / Heterosexual
61       Home  Straight / Heterosexual
63       Home  Straight / Heterosexual
65       Home                      NaN
68       Home  Straight / Heterosexual
69       Home  Straight / Heterosexual
71       Home  Straight / Heterosexual
72       Home  Straight / Heterosexual
74       Home  Straight / Heterosexual
75       Home  Straight / Heterosexual
76       Home  Straight / Heterosexual
81       Home                      NaN
...       ...                      ...
88245    Home  Straight / Heterosexual
88246    Home  Straight / Heterosexual
88250    Home                 Bisexual
88251    Home  Straight / Heterosexual
88256    Home  Straight / Heterosexual
88262    Home  Straight / Heterosexual
88272    Home  Straight / Heterosexual
88274    Home  Straight / Heterosexual
88275    Home  Straight / Heterosexual
88276    Home  Straight / Heterosexual
88278    Home  Straight / Heterosexual
88281    Home  Straight / Heterosexual
88282    Home  Straight / Heterosexual
88284    Home  Straight / Heterosexual
88285    Home  Straight / Heterosexual
88286    Home  Straight / Heterosexual
88287    Home  Straight / Heterosexual
88291    Home  Straight / Heterosexual
88292    Home  Straight / Heterosexual
88295    Home  Straight / Heterosexual
88300    Home  Straight / Heterosexual
88301    Home  Straight / Heterosexual
88305    Home  Straight / Heterosexual
88309    Home                      NaN
88316    Home                      NaN
88320    Home           Gay or Lesbian
88326    Home  Straight / Heterosexual
88327    Home                      NaN
88329    Home  Straight / Heterosexual
88330    Home  Straight / Heterosexual

[23278 rows x 2 columns]

### - if developer is satisfied in his career find their salary and Age

In [110]:
filter2=df['CareerSat'].isin(['Very satisfied','Slightly satisfied'])

In [109]:
df.loc[filter2,['CareerSat','ConvertedComp','Age']]

                CareerSat  ConvertedComp   Age
2      Slightly satisfied         8820.0  28.0
3          Very satisfied        61000.0  22.0
5          Very satisfied       366420.0  28.0
6      Slightly satisfied            NaN  42.0
8      Slightly satisfied        95179.0  23.0
12         Very satisfied        90000.0  28.0
13         Very satisfied        57060.0  31.0
15         Very satisfied       455352.0  26.0
16     Slightly satisfied        65277.0  29.0
17     Slightly satisfied        21996.0   NaN
19         Very satisfied        41244.0  38.0
21     Slightly satisfied       103000.0  47.0
22     Slightly satisfied        69000.0  22.0
23         Very satisfied        26388.0  23.0
24         Very satisfied         6300.0  22.0
25         Very satisfied       114000.0  34.0
27         Very satisfied            NaN   NaN
28         Very satisfied       100000.0  32.0
31     Slightly satisfied      1100000.0  21.0
32         Very satisfied         8400.0  25.0
34     Slightly satisfied        80000.0  35.0
35         Very satisfied        20628.0  21.0
37     Slightly satisfied        51312.0  44.0
38         Very satisfied       156000.0  42.0
40     Slightly satisfied            NaN   NaN
43     Slightly satisfied        87996.0  43.0
44     Slightly satisfied       175000.0  62.0
45     Slightly satisfied            NaN  37.0
46         Very satisfied       187000.0  45.0
48         Very satisfied        60000.0  34.0
...                   ...            ...   ...
88282  Slightly satisfied       120000.0  43.0
88283      Very satisfied       230000.0  40.0
88284  Slightly satisfied        38955.0  25.0
88285  Slightly satisfied        38766.0  33.0
88286  Slightly satisfied        15576.0  28.0
88287  Slightly satisfied        95000.0  30.0
88289      Very satisfied        51910.0  34.0
88290      Very satisfied       111000.0  27.0
88291      Very satisfied            NaN  22.0
88292      Very satisfied        36864.0  36.0
88293  Slightly satisfied        45803.0  32.0
88295      Very satisfied         6876.0  22.0
88296  Slightly satisfied        13272.0  28.0
88297  Slightly satisfied        57287.0  37.0
88300      Very satisfied         3000.0  31.0
88301  Slightly satisfied       110000.0  27.0
88302      Very satisfied        68705.0   NaN
88303  Slightly satisfied        80000.0  27.0
88305      Very satisfied        45000.0  40.0
88312      Very satisfied       120000.0  36.0
88313  Slightly satisfied         6876.0  28.0
88314      Very satisfied       412464.0  29.0
88315  Slightly satisfied       797436.0  30.0
88319  Slightly satisfied            NaN   NaN
88320  Slightly satisfied        72522.0  37.0
88321      Very satisfied      2000000.0  26.0
88323      Very satisfied       180000.0  23.0
88324      Very satisfied      2000000.0  48.0
88325      Very satisfied       130000.0  26.0
88326  Slightly satisfied        82488.0  34.0

[54191 rows x 3 columns]

### - if devloper is not satisfies find their working hours in a week

In [53]:
filter3=df['CareerSat'].isin(['Very dissatisfied', 'Slightly dissatisfied'])

In [54]:
df.loc[filter3,['CareerSat','WorkWeekHrs']]

                   CareerSat  WorkWeekHrs
4          Very dissatisfied         55.0
9      Slightly dissatisfied         70.0
18         Very dissatisfied          8.0
29     Slightly dissatisfied         36.0
42         Very dissatisfied         40.0
55     Slightly dissatisfied         40.0
63     Slightly dissatisfied         40.0
69     Slightly dissatisfied         40.0
74     Slightly dissatisfied         50.0
85     Slightly dissatisfied         50.0
89     Slightly dissatisfied         50.0
90         Very dissatisfied          NaN
96     Slightly dissatisfied         45.0
107    Slightly dissatisfied         40.0
118    Slightly dissatisfied         35.0
124    Slightly dissatisfied         40.0
130    Slightly dissatisfied         55.0
145    Slightly dissatisfied         45.0
152    Slightly dissatisfied         30.0
154    Slightly dissatisfied         40.0
158        Very dissatisfied         40.0
170        Very dissatisfied         40.0
187    Slightly dissatisfied         40.0
190    Slightly dissatisfied         40.0
191        Very dissatisfied         32.0
195    Slightly dissatisfied         40.0
203        Very dissatisfied         50.0
205    Slightly dissatisfied         45.0
206    Slightly dissatisfied          NaN
211    Slightly dissatisfied         40.0
...                      ...          ...
88142  Slightly dissatisfied         40.0
88146  Slightly dissatisfied         40.0
88148  Slightly dissatisfied         40.0
88152  Slightly dissatisfied         48.0
88159      Very dissatisfied          NaN
88161      Very dissatisfied         43.0
88172      Very dissatisfied         50.0
88180      Very dissatisfied         35.0
88183      Very dissatisfied         40.0
88184  Slightly dissatisfied          NaN
88191  Slightly dissatisfied        168.0
88199  Slightly dissatisfied         40.0
88203      Very dissatisfied          NaN
88217  Slightly dissatisfied         50.0
88222  Slightly dissatisfied          NaN
88243  Slightly dissatisfied         45.0
88247  Slightly dissatisfied          NaN
88249  Slightly dissatisfied         35.0
88250      Very dissatisfied          6.0
88257  Slightly dissatisfied         40.0
88270      Very dissatisfied          NaN
88273  Slightly dissatisfied         40.0
88274  Slightly dissatisfied         25.0
88306  Slightly dissatisfied         40.0
88308  Slightly dissatisfied         40.0
88316      Very dissatisfied          NaN
88318      Very dissatisfied        168.0
88327  Slightly dissatisfied          NaN
88329  Slightly dissatisfied         40.0
88330  Slightly dissatisfied         48.0

[11404 rows x 2 columns]

### - if developer's age 1st code is less than 10 find their educational qualification

In [74]:
filter4=df['Age1stCode'].isin(['3','4','5','6','7','8','9','10'])
df.loc[filter4,['Age1stCode','EdLevel']]

      Age1stCode                                            EdLevel
0             10                          Primary/elementary school
25             8  Some college/university study without earning ...
35            10  Secondary school (e.g. American high school, G...
38             6           Bachelor’s degree (BA, BS, B.Eng., etc.)
46            10          Other doctoral degree (Ph.D, Ed.D., etc.)
50             9  Some college/university study without earning ...
51             8  Some college/university study without earning ...
52            10  Secondary school (e.g. American high school, G...
60            10  Some college/university study without earning ...
62             7           Bachelor’s degree (BA, BS, B.Eng., etc.)
65             7        Master’s degree (MA, MS, M.Eng., MBA, etc.)
67             9           Bachelor’s degree (BA, BS, B.Eng., etc.)
72             5        Master’s degree (MA, MS, M.Eng., MBA, etc.)
78             5  Some college/university study without earning ...
80             7        Master’s degree (MA, MS, M.Eng., MBA, etc.)
87             6  Secondary school (e.g. American high school, G...
96            10           Bachelor’s degree (BA, BS, B.Eng., etc.)
99             7  Some college/university study without earning ...
102            7                                   Associate degree
126            8        Master’s degree (MA, MS, M.Eng., MBA, etc.)
129           10           Bachelor’s degree (BA, BS, B.Eng., etc.)
142           10           Bachelor’s degree (BA, BS, B.Eng., etc.)
148            7        Master’s degree (MA, MS, M.Eng., MBA, etc.)
149           10           Bachelor’s degree (BA, BS, B.Eng., etc.)
150            9        Master’s degree (MA, MS, M.Eng., MBA, etc.)
151           10        Master’s degree (MA, MS, M.Eng., MBA, etc.)
162           10           Bachelor’s degree (BA, BS, B.Eng., etc.)
181            6           Bachelor’s degree (BA, BS, B.Eng., etc.)
189           10           Bachelor’s degree (BA, BS, B.Eng., etc.)
194            8        Master’s degree (MA, MS, M.Eng., MBA, etc.)
...          ...                                                ...
88600          5             I never completed any formal education
88606          5           Bachelor’s degree (BA, BS, B.Eng., etc.)
88607         10             I never completed any formal education
88626         10  Some college/university study without earning ...
88650          8  Secondary school (e.g. American high school, G...
88654         10  Secondary school (e.g. American high school, G...
88662          8                          Primary/elementary school
88673          6  Some college/university study without earning ...
88680          5        Master’s degree (MA, MS, M.Eng., MBA, etc.)
88682          9  Secondary school (e.g. American high school, G...
88719         10                          Primary/elementary school
88732          6                                                NaN
88741          7        Master’s degree (MA, MS, M.Eng., MBA, etc.)
88758         10  Secondary school (e.g. American high school, G...
88764          6  Some college/university study without earning ...
88771         10                          Primary/elementary school
88779          6                                                NaN
88786          6  Secondary school (e.g. American high school, G...
88797         10           Bachelor’s degree (BA, BS, B.Eng., etc.)
88805         10           Bachelor’s degree (BA, BS, B.Eng., etc.)
88807          5                                                NaN
88827         10                                                NaN
88844          9           Bachelor’s degree (BA, BS, B.Eng., etc.)
88846          5        Master’s degree (MA, MS, M.Eng., MBA, etc.)
88859          7                                   Associate degree
88860          5  Secondary school (e.g. American high school, G...
88862          9  Secondary school (e.g. American high school, G...
88863         10          Other doctoral degree (Ph.D, Ed.D., etc.)
88876          7  Secondary school (e.g. American high school, G...
88877         10  Some college/university study without earning ...

[12202 rows x 2 columns]

### - find 'R' developers who earns more than 500000

In [77]:
filter5=df['LanguageWorkedWith'].str.contains('R',na=False)

In [78]:
df[df['ConvertedComp']>50000].loc[filter5,['ConvertedComp','LanguageWorkedWith']]

       ConvertedComp                                 LanguageWorkedWith
5           366420.0                                         Java;R;SQL
8            95179.0  Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
21          103000.0  Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
22           69000.0  Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
25          114000.0  Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...
46          187000.0                                      Java;PHP;Ruby
59          107000.0  Bash/Shell/PowerShell;Go;JavaScript;PHP;Python...
61           87994.0  Bash/Shell/PowerShell;C++;Go;HTML/CSS;Java;Jav...
65          137490.0          Clojure;Go;HTML/CSS;Java;JavaScript;R;SQL
73          114575.0        HTML/CSS;Java;JavaScript;Kotlin;Python;Ruby
81          143932.0  Bash/Shell/PowerShell;C++;HTML/CSS;Java;JavaSc...
94          110000.0                C#;HTML/CSS;JavaScript;Python;R;SQL
96           66750.0      Bash/Shell/PowerShell;JavaScript;Python;R;SQL
99          229016.0            HTML/CSS;JavaScript;Ruby;SQL;TypeScript
127        1000000.0                      Bash/Shell/PowerShell;Go;Ruby
128          62000.0                                       C++;Python;R
164        2000000.0  Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...
186          65424.0                                C#;Python;R;SQL;VBA
191         157017.0  Bash/Shell/PowerShell;HTML/CSS;JavaScript;Ruby...
195          62376.0                                     HTML/CSS;R;VBA
208         110000.0     C++;Go;Java;JavaScript;Python;Rust;WebAssembly
212          66000.0                                        R;Other(s):
213          78207.0                                        Python;Rust
229          80000.0                      Elixir;Go;JavaScript;Ruby;SQL
250          58881.0           HTML/CSS;JavaScript;Rust;Swift;Other(s):
251          59579.0  Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
265         135000.0                    HTML/CSS;JavaScript;Python;Ruby
271        1000000.0  Bash/Shell/PowerShell;C++;Clojure;Erlang;HTML/...
273         130000.0  C#;HTML/CSS;Java;JavaScript;Objective-C;Python...
287         130000.0                         C++;C#;PHP;Rust;TypeScript
...              ...                                                ...
87777       105000.0  Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;O...
87783        84111.0  Bash/Shell/PowerShell;C++;Ruby;Rust;TypeScript...
87827       175000.0                                        Go;Python;R
87832        80202.0  Bash/Shell/PowerShell;C;C++;Java;JavaScript;Py...
87833        84384.0  C++;C#;F#;Java;JavaScript;Kotlin;Python;Ruby;S...
87851       102000.0  Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
87900       104000.0                                    C++;Python;Rust
87933       100000.0  Go;HTML/CSS;JavaScript;Python;R;Scala;SQL;Type...
87940       160000.0  Bash/Shell/PowerShell;JavaScript;Python;Ruby;S...
87986        78508.0     HTML/CSS;JavaScript;Objective-C;PHP;Ruby;Swift
87999        79188.0                                       C#;Java;Rust
88014        76994.0     Bash/Shell/PowerShell;Elixir;Erlang;R;Ruby;SQL
88029       125000.0   Erlang;HTML/CSS;Java;JavaScript;Python;R;SQL;VBA
88038       171862.0  C;C++;C#;HTML/CSS;Java;JavaScript;PHP;Python;R...
88065       386196.0      Bash/Shell/PowerShell;Java;Python;R;Scala;SQL
88070        63016.0  Bash/Shell/PowerShell;Clojure;JavaScript;PHP;P...
88074       134000.0                                 Python;R;Other(s):
88077       150000.0                HTML/CSS;JavaScript;Python;Ruby;SQL
88084        68000.0                                    JavaScript;Ruby
88154       170000.0  C++;C#;F#;HTML/CSS;Java;JavaScript;Kotlin;Pyth...
88167        70116.0  Bash/Shell/PowerShell;C;HTML/CSS;Java;JavaScri...
88199        71000.0  Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...
88214       120000.0                                    Assembly;C;Rust
88227        79500.0  Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
88244       225000.0               Bash/Shell/PowerShell;Go;Python;Ruby
88249        72912.0                                            C#;Rust
88278        65000.0    Bash/Shell/PowerShell;HTML/CSS;JavaScript;R;SQL
88306        61071.0    C;Go;HTML/CSS;JavaScript;Python;Rust;TypeScript
88320        72522.0               HTML/CSS;JavaScript;PHP;Python;R;SQL
88323       180000.0  Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...

[5978 rows x 2 columns]

### - If a developer is working with Django framework find their salary and Country

In [86]:
filter6=df['WebFrameWorkedWith'].str.contains('Django',na=False)

In [87]:
df.loc[filter6,['ConvertedComp','Country']]

       ConvertedComp                 Country
0                NaN          United Kingdom
1                NaN  Bosnia and Herzegovina
4                NaN                 Ukraine
9            13293.0                   India
20               NaN                  Canada
42           20623.0                   Spain
45               NaN           United States
48           60000.0                  Serbia
49            5597.0                   India
53           68268.0                  Sweden
61           87994.0             Netherlands
65          137490.0                 Germany
84           52704.0                 Germany
85           16008.0                   China
86           36060.0                  Brazil
98               NaN                   India
102              NaN      Russian Federation
105         160000.0           United States
106              NaN             Netherlands
120              NaN                   India
121          38496.0                 Estonia
129          13116.0                  Brazil
141          93951.0                 Germany
147          43992.0                 Austria
157          65424.0            South Africa
167            979.0                   India
172           2016.0                   India
174              NaN                   India
190          28860.0                  Poland
199          50868.0                Portugal
...              ...                     ...
88413            NaN           United States
88418            NaN           United States
88429            NaN                  Jordan
88474            NaN                 Germany
88486            NaN           United States
88495            NaN          United Kingdom
88501            NaN                Thailand
88531            NaN               Lithuania
88564            NaN                 Germany
88626            NaN           United States
88643            NaN               Sri Lanka
88655            NaN           United States
88686            NaN          United Kingdom
88689            NaN                 Germany
88695            NaN                 Austria
88701            NaN                 Denmark
88722            NaN                  France
88736            NaN                  Jordan
88744            NaN                  Sweden
88750            NaN                  Mexico
88770            NaN                 Ukraine
88783            NaN                   India
88802            NaN                Thailand
88813            NaN      Russian Federation
88820            NaN          United Kingdom
88826            NaN          United Kingdom
88841            NaN          United Kingdom
88848            NaN               Argentina
88876            NaN                   Spain
88882            NaN                   Spain

[8249 rows x 2 columns]

### - if a developer is good at mysql find their job satisfaction level

In [90]:
filter7=df['LanguageWorkedWith'].str.contains('SQL',na=False)

In [91]:
df.loc[filter7,['LanguageWorkedWith','CareerSat']]

,LanguageWorkedWith,CareerSat
3,C;C++;C#;Python;SQL,Very satisfied
4,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,Very dissatisfied
5,Java;R;SQL,Very satisfied
7,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN
8,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,Slightly satisfied
9,C#;Go;JavaScript;Python;R;SQL,Slightly dissatisfied
11,Bash/Shell/PowerShell;HTML/CSS;Java;Python;R;SQL,NaN
12,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Very satisfied
14,Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...,NaN
18,C#;HTML/CSS;Java;JavaScript;SQL;TypeScript,Very dissatisfied
19,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,Very satisfied
20,Assembly;Bash/Shell/PowerShell;C;C++;Go;Java;J...,NaN
21,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,Slightly satisfied
22,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...,Slightly satisfied
24,HTML/CSS;JavaScript;PHP;SQL;TypeScript,Very satisfied
25,Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...,Very satisfied
26,C++;JavaScript;Python;Ruby;SQL;TypeScript,NaN
28,Bash/Shell/PowerShell;JavaScript;SQL,Very satisfied
37,C#;HTML/CSS;JavaScript;SQL,Slightly satisfied
38,C#;JavaScript;SQL;TypeScript,Very satisfied
40,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,Slightly satisfied
42,C++;C#;HTML/CSS;Java;JavaScript;Objective-C;SQL,Very dissatisfied
43,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,Slightly satisfied
45,Bash/Shell/PowerShell;C;C#;HTML/CSS;JavaScript...,Slightly satisfied
47,HTML/CSS;PHP;SQL,NaN
48,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Very satisfied
49,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,Slightly satisfied
51,Bash/Shell/PowerShell;C;C++;Elixir;Erlang;Go;H...,Very satisfied
52,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Slightly satisfied
54,Java;Python;SQL,NaN
...,...,...
88754,C;C++;C#;F#;HTML/CSS;Java;JavaScript;PHP;Pytho...,NaN
88759,Assembly;Java;JavaScript;SQL,NaN
88762,Bash/Shell/PowerShell;JavaScript;PHP;SQL,NaN
88764,Bash/Shell/PowerShell;C;JavaScript;PHP;Python;...,NaN
88765,HTML/CSS;Java;JavaScript;PHP;SQL,NaN
88766,Java;JavaScript;Kotlin;SQL;TypeScript,NaN
88769,HTML/CSS;JavaScript;PHP;SQL,NaN
88774,Bash/Shell/PowerShell;C;C++;HTML/CSS;JavaScrip...,NaN
88776,C#;Python;SQL,NaN
88778,HTML/CSS;Java;Python;SQL,NaN
88780,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN
88783,Assembly;Bash/Shell/PowerShell;C;C++;C#;Clojur...,NaN
88787,Bash/Shell/PowerShell;Elixir;Go;HTML/CSS;JavaS...,NaN
88806,Assembly;C++;HTML/CSS;JavaScript;PHP;SQL;Other...,NaN
88813,Java;Python;SQL;TypeScript,NaN
88820,Assembly;Bash/Shell/PowerShell;C;C++;C#;Clojur...,NaN
88822,Java;JavaScript;Kotlin;SQL,NaN
88825,Bash/Shell/PowerShell;Python;SQL;VBA,NaN
88829,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,NaN
88833,C#;SQL;VBA,NaN
88836,C#;Python;R;SQL,NaN
88837,Erlang;Java;Python;SQL,NaN
88839,PHP;SQL,NaN
88844,HTML/CSS;JavaScript;Python;SQL,NaN
88852,Assembly;C;C++;HTML/CSS;Java;JavaScript;Object...,NaN
88854,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN
88857,Bash/Shell/PowerShell;HTML/CSS;PHP;R;SQL,NaN
88871,Assembly;Bash/Shell/PowerShell;C;C#;HTML/CSS;J...,NaN
88872,C;C++;HTML/CSS;JavaScript;PHP;Python;SQL,NaN
88882,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,NaN

### - Find Indian developers maximum salary when they are working from home

In [92]:
filter7=df['Country'].isin(['India'])

In [99]:
df[df['WorkLoc']=='Home'].loc[filter7,['ConvertedComp','Country','WorkLoc']]

       ConvertedComp Country WorkLoc
9            13293.0   India    Home
74           17491.0   India    Home
89           16788.0   India    Home
103           2169.0   India    Home
138           7556.0   India    Home
172           2016.0   India    Home
174              NaN   India    Home
176           2500.0   India    Home
218              NaN   India    Home
236          27986.0   India    Home
240              NaN   India    Home
261          11194.0   India    Home
269              NaN   India    Home
424              NaN   India    Home
824              NaN   India    Home
828          15392.0   India    Home
1007             NaN   India    Home
1075         13993.0   India    Home
1229             NaN   India    Home
1261             NaN   India    Home
1352          7836.0   India    Home
1460             NaN   India    Home
1598         19590.0   India    Home
1632             NaN   India    Home
1672         37776.0   India    Home
1736         20989.0   India    Home
1752             NaN   India    Home
1875         25187.0   India    Home
1934         10080.0   India    Home
1973          1344.0   India    Home
...              ...     ...     ...
87135        63804.0   India    Home
87161            NaN   India    Home
87163            NaN   India    Home
87189         2099.0   India    Home
87229        41978.0   India    Home
87244        24487.0   India    Home
87356       100080.0   India    Home
87367        27986.0   India    Home
87372            NaN   India    Home
87377        13433.0   India    Home
87388        19590.0   India    Home
87406            NaN   India    Home
87501        13993.0   India    Home
87544            NaN   India    Home
87578        23900.0   India    Home
87602            0.0   India    Home
87621        20148.0   India    Home
87637            NaN   India    Home
87691         6384.0   India    Home
87755         9795.0   India    Home
87856            NaN   India    Home
87886        54576.0   India    Home
87961         2856.0   India    Home
87962            NaN   India    Home
88025        55971.0   India    Home
88075         4704.0   India    Home
88163            NaN   India    Home
88251        16284.0   India    Home
88291            NaN   India    Home
88316            NaN   India    Home

[1639 rows x 3 columns]


### - Find Indian developers maximum salary when they are working from office

In [100]:
df[df['WorkLoc']=='Office'].loc[filter7,['ConvertedComp','Country','WorkLoc']]

       ConvertedComp Country WorkLoc
64               NaN   India  Office
67           11194.0   India  Office
77            7696.0   India  Office
82          117540.0   India  Office
123           9095.0   India  Office
167            979.0   India  Office
289              NaN   India  Office
341              NaN   India  Office
342              NaN   India  Office
372          94451.0   India  Office
386          16788.0   India  Office
391              NaN   India  Office
402          10495.0   India  Office
404          10800.0   India  Office
461           9655.0   India  Office
468           2520.0   India  Office
469           4200.0   India  Office
471           4536.0   India  Office
472           4897.0   India  Office
486              NaN   India  Office
488              NaN   India  Office
518          11894.0   India  Office
558              NaN   India  Office
579              NaN   India  Office
588              NaN   India  Office
593          22388.0   India  Office
624          12000.0   India  Office
627              NaN   India  Office
655          15042.0   India  Office
658          10075.0   India  Office
...              ...     ...     ...
87700        19590.0   India  Office
87709         2604.0   India  Office
87763            NaN   India  Office
87781            NaN   India  Office
87803            NaN   India  Office
87806        13993.0   India  Office
87840            NaN   India  Office
87855        12588.0   India  Office
87879            NaN   India  Office
87906        23788.0   India  Office
87907            NaN   India  Office
87917        13993.0   India  Office
87924        19590.0   India  Office
87928            NaN   India  Office
87970            NaN   India  Office
87982         4032.0   India  Office
87990        29385.0   India  Office
88060        11754.0   India  Office
88065       386196.0   India  Office
88083         4897.0   India  Office
88129         7052.0   India  Office
88148        37781.0   India  Office
88149            NaN   India  Office
88166            NaN   India  Office
88172         3360.0   India  Office
88188            NaN   India  Office
88217       235080.0   India  Office
88226            NaN   India  Office
88273        13993.0   India  Office
88319            NaN   India  Office

[4394 rows x 3 columns]

### - Find Indian Graduates Salary and Age

In [ ]:
#incomplete


### - Find American women developers salary and job satisfaction

In [103]:
filter8=df['Country'].isin(['United States'])

In [106]:
df[df['Gender']=='Woman'].loc[filter8,['ConvertedComp','CareerSat','Country']]

       ConvertedComp              CareerSat        Country
34           80000.0     Slightly satisfied  United States
50               NaN                    NaN  United States
104          45000.0         Very satisfied  United States
140         180000.0         Very satisfied  United States
146         135000.0         Very satisfied  United States
184              NaN                    NaN  United States
185              NaN         Very satisfied  United States
225              NaN         Very satisfied  United States
234              NaN     Slightly satisfied  United States
306         140000.0         Very satisfied  United States
314          84000.0         Very satisfied  United States
319         140000.0         Very satisfied  United States
378              NaN     Slightly satisfied  United States
384              NaN         Very satisfied  United States
431              NaN                    NaN  United States
436              NaN     Slightly satisfied  United States
525         125000.0         Very satisfied  United States
571          56000.0         Very satisfied  United States
606              NaN                    NaN  United States
619              NaN                    NaN  United States
637         110000.0         Very satisfied  United States
756              NaN                    NaN  United States
786        2000000.0  Slightly dissatisfied  United States
1005         81810.0     Slightly satisfied  United States
1032        149500.0  Slightly dissatisfied  United States
1036             NaN                    NaN  United States
1097             NaN         Very satisfied  United States
1114        161000.0  Slightly dissatisfied  United States
1130             NaN                    NaN  United States
1135             NaN         Very satisfied  United States
...              ...                    ...            ...
87617       120000.0     Slightly satisfied  United States
87681            NaN     Slightly satisfied  United States
87689        59000.0         Very satisfied  United States
87771        52800.0         Very satisfied  United States
87830       121000.0         Very satisfied  United States
87899            NaN                    NaN  United States
87911        90000.0     Slightly satisfied  United States
87914       150000.0         Very satisfied  United States
87933       100000.0         Very satisfied  United States
88023       125000.0         Very satisfied  United States
88068       115000.0         Very satisfied  United States
88084        68000.0         Very satisfied  United States
88087            NaN         Very satisfied  United States
88177        67000.0         Very satisfied  United States
88183       120000.0      Very dissatisfied  United States
88192        95000.0         Very satisfied  United States
88355            NaN                    NaN  United States
88433            NaN                    NaN  United States
88451            NaN                    NaN  United States
88481            NaN                    NaN  United States
88489            NaN                    NaN  United States
88566            NaN                    NaN  United States
88629            NaN                    NaN  United States
88633            NaN                    NaN  United States
88668            NaN                    NaN  United States
88682            NaN                    NaN  United States
88693            NaN                    NaN  United States
88773            NaN                    NaN  United States
88810            NaN                    NaN  United States
88844            NaN                    NaN  United States

[2092 rows x 3 columns]

In [36]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [104]:
df['Gender']

0                                                      Man
1                                                      Man
2                                                      Man
3                                                      Man
4                                                      Man
5                                                      Man
6                                                      Man
7                                                      Man
8                                                      Man
9                                                      NaN
10                                                     Man
11                                                   Woman
12                                                     Man
13                                                     Man
14                                                     Man
15                                                     Man
16                                                     Man
17                                                     Man
18                                                     Man
19                                                     Man
20                                                     Man
21                                                     Man
22                                                     Man
23                                                     Man
24                                                     Man
25                                                     Man
26                                                     Man
27                                                     Man
28                                                     Man
29                                                     Man
                               ...
88853                                                  NaN
88854                                                Woman
88855                                                Woman
88856                                                  NaN
88857                                                  Man
88858                                                  NaN
88859    Non-binary, genderqueer, or gender non-conforming
88860                                                  Man
88861                                                  NaN
88862                                                  Man
88863                                                  Man
88864                                                  Man
88865                                                  Man
88866                                                  Man
88867                                                  Man
88868                                                  NaN
88869                                                  NaN
88870                                                  Man
88871                                                  Man
88872                                                  NaN
88873                                                  NaN
88874                                                  NaN
88875                                                  Man
88876                                                  Man
88877                                                  Man
88878                                                  Man
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882                                                  Man
Name: Gender, Length: 88883, dtype: object